<h1>Listas de productos en tiempo real:</h1>
<div id="productRealTimeList" class="productRealTimeList">

    {{!-- {{#each products}}
        <div class="productRealTimeItem"> 
            <p>Titulo: {{this.titulo}} </p>
            <p>Descripción: {{this.descripcion}} </p>
            <p>Codigo: {{this.code}} </p>
            <p>Precio: {{this.precio}}</p>
            <p>Stock: {{this.stock}} </p>
            <p>Imagenes: {{this.img}} </p>
        </div>

    {{/each}} --}}
</div>
<script src="/socket.io/socket.io.js" ></script>
<script src="/js/realTimeProducts.js"></script>
